<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.oracle.web.mapper.AdminMapper">
	<resultMap id="BaseResultMap" type="com.oracle.web.bean.Admin">
		<id column="ID" jdbcType="INTEGER" property="id" />
		<result column="NAME" jdbcType="VARCHAR" property="name" />
		<result column="USERNAME" jdbcType="VARCHAR" property="username" />
		<result column="PASSWORD" jdbcType="VARCHAR" property="password" />
		<result column="TOUXIANG" jdbcType="VARCHAR" property="touxiang" />
	</resultMap>
  
	<insert id="insert" parameterType="com.oracle.web.bean.Admin">
    insert into admin (ID, NAME, USERNAME, PASSWORD, TOUXIANG) values (#{id,jdbcType=INTEGER}, #{name,jdbcType=VARCHAR}, #{username,jdbcType=VARCHAR}, #{password,jdbcType=VARCHAR}, #{touxiang,jdbcType=VARCHAR})
	</insert>
  
    <select id="login" parameterType="Map" resultType="com.oracle.web.bean.Admin">
     SELECT * FROM admin WHERE username=#{username,jdbcType=VARCHAR}
    </select>
</mapper>